body {
  background-color: #101218;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

a {
  text-align: center;
}

li {
  text-align: center;
  list-style-position: inside;
}

ul {
  text-align: center;
  list-style-position: inside;
}

button {
  background-color: #151723;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
  transition-duration: 0.4s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:hover {
  background-color: #202228;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
